/* General Formatting */

body {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

a {
  font-family: 'Open Sans', sans-serif;
}

.button {
  background: #00B0D4;
  font-family: 'Open Sans', sans-serif;
}

.num-cell {
  max-width: 50px;
  width: 50px;
}

.overflow {
  overflow-x: scroll;
}

.fullwidth {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

/*

.button:hover {
 background: #009bbb; 
}

.label {
 background: #00B0D4; 
}

/* Custom top-bar formatting */

/*

.top-bar {
  background: #f2f2f2;
  border-bottom: thick solid #FFC87A;
  color: black;
  height: 50px;
}

.top-bar .name h1 a {
  color: black;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: #f2f2f2;
  border-bottom: thick solid #FFC87A;
  color: black;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background: #d8d8d8;
}

.top-bar-section ul .active a {
  background: #00B0D4 !important;
}

.top-bar-section ul .active a:hover {
  background: #009bbb !important;
}

*/

.top-bar-section ul li > a {
  font-family: 'Open Sans', sans-serif;
}

/*

.top-bar-section ul .has-dropdown .dropdown li a {
  border: 0 !important;
  background: #f2f2f2 !important;
  color: black !important;
}

.top-bar-section ul .has-dropdown .dropdown .active a {
  background: #00B0D4 !important;
}

.top-bar-section ul .has-dropdown .dropdown .active a:hover {
  background: #009bbb !important;
  color: black !important;
}

.top-bar-section ul .has-dropdown .dropdown li a:hover {
  background: #d8d8d8 !important;
  color: white !important;
}

/*

/* other */

/*

.base-imgs {
  margin-left: 20%;
}

.tabs dd {
  width: 130px;
}

*/

.tabs dd > a {
  font-family: 'Open Sans', sans-serif;
}

/*

#remember_me {
  padding-left: 20px;
}

.data-items > a {
  color: white;
}

.data-items div > a:hover {
  color: white;
}

.data-set {
  height: 110%;
  position: relative;
}

.data-set:hover {
  background: #d8d8d8;
  position: relative;
}

.data-set-span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.data-set-buttons {
  position: absolute;
  bottom: 0;
  width: 88%
}

.edit-button {
  width: 40%;
  z-index: 2;
}

*/

.label {
  font-family: 'Open Sans', sans-serif;
}	
